// login sns
.sns-btn {
  width: 48px;
  height: 48px;
  text-indent: -999em;
  color: transparent;
  background-repeat: no-repeat;

  &.is-naver {
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='24' fill='%2344BD50'/%3E%3Cpath d='M33.5 15.5V32.5H27.1243L20.8757 23.9432V32.5H14.5V15.5H20.8757L27.1243 24.4041V15.5H33.5Z' fill='white'/%3E%3C/svg%3E%0A");
  }

  &.is-kakao {
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='24' fill='%23FAE100'/%3E%3Cpath d='M24 15C18.4771 15 14 18.6341 14 23.117C14 26.0152 15.8717 28.5583 18.6873 29.9943C18.5341 30.5382 17.703 33.493 17.6699 33.7251C17.6699 33.7251 17.65 33.8995 17.7597 33.966C17.8694 34.0325 17.9985 33.9809 17.9985 33.9809C18.3131 33.9356 21.6468 31.5249 22.2238 31.1063C22.8003 31.1903 23.3938 31.234 24 31.234C29.5229 31.234 34 27.5999 34 23.117C34 18.6341 29.5229 15 24 15Z' fill='black'/%3E%3C/svg%3E%0A");
  }

  &.is-apple {
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='24' cy='24' r='24' fill='black'/%3E%3Cpath d='M29.1983 23.1557C29.2275 26.3333 31.9699 27.3909 32 27.4046C31.9767 27.4789 31.5617 28.9119 30.5549 30.3917C29.6852 31.6712 28.7814 32.9458 27.3587 32.9722C25.9603 32.9986 25.5113 32.1384 23.9127 32.1384C22.315 32.1384 21.8155 32.9458 20.4919 32.9986C19.1188 33.0514 18.0731 31.6155 17.1956 30.3409C15.4036 27.7321 14.0333 22.9729 15.873 19.759C16.7865 18.1638 18.4201 17.1531 20.1926 17.1267C21.5415 17.1013 22.8136 18.0397 23.6386 18.0397C24.4627 18.0397 26.0088 16.9107 27.6356 17.0769C28.3159 17.1052 30.2274 17.3535 31.4538 19.1598C31.3557 19.2214 29.174 20.4989 29.1983 23.1557ZM26.5705 15.3527C27.2994 14.4651 27.7902 13.2296 27.656 12C26.6055 12.042 25.3344 12.7047 24.5803 13.5913C23.9049 14.3772 23.3131 15.6342 23.4724 16.8394C24.6444 16.9303 25.8417 16.2402 26.5705 15.3527Z' fill='white'/%3E%3C/svg%3E%0A");
  }
}
