.u-field-set-slot {
  .u-field {
     border-left: 1px solid #e9e9e9 !important;

    .u-field-label {
      border-left: 0 !important;
      padding: 13px 17px 12px 29px !important;
      color: $gray220;
      
      &.col {
        background-color: $gray20;
        justify-content: center !important;

        +.u-field-slot {
          width: 100% !important;
          padding: 10px;
        }
      }
      &.row {
        background-color: $gray20;
      }

      .required {
        position: relative;
        &:before {
          content: "";
          position: absolute;
          top: calc(50% - 7px);
          left: -10px;
          transform: translateY(-50%);
          width: 6px;
          height: 6px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='6' viewBox='0 0 6 6'%3E%3Cg transform='translate(0 -7.513)'%3E%3Crect width='6' height='6' transform='translate(0 7.513)' fill='none'/%3E%3Cpath d='M-1.084-6,.142-7.433,1.368-6l.768-.561-.96-1.61L2.845-8.88l-.3-.9L.777-9.368.614-11.214h-.96L-.508-9.353l-1.772-.428-.3.9,1.669.709-.945,1.61Z' transform='translate(3 19)' fill='%23ff1e1e'/%3E%3C/g%3E%3C/svg%3E");
          background-repeat: no-repeat;
        }
      }
    }
    .u-field-slot {
      width: calc(100% - 50px) !important;
      max-width: 100%;
      overflow: hidden;
      padding: 5px 50px 5px 5px;
      background-color: var(--u-field-set-background-color);

      &.col {
      }
      .u-box {
        flex-basis: auto;
        flex-direction: row !important;
      }
      .u-text-box {
        width: 100%;

        &:not(:first-child) {
          margin-left: 5px;
        }
      }
      .v-input__details {
        display: none;
      }
    }
  }
}


/*
========================================================
                        UI개발팀
========================================================
*/

.table-title-wrap{
  display: flex;
  justify-content: space-between !important;
  align-items: flex-end;
  flex-direction: unset !important;
  height: auto !important;
  min-height: auto !important;

  .buttons{
    margin-bottom: 10px;
  }

  .table-buttons{
    padding: 0;
    margin-bottom: 10px !important;
    gap: unset;
  }
}

.u-field-set{
  .u-field-set-slot{
    border-top: 1px solid #e9e9e9 !important;
    border-bottom: 0 !important;
    border-right: 1px solid #e9e9e9;
  }

  &.is-search {
    table-layout: fixed;
    border-radius: 6px;
    background-color: $gray20;

    .u-field-set-slot {
      // border-top: 1px solid $gray20;
      // border-bottom: 1px solid $gray20;
      border-top: 0 !important;
      border-bottom: 0 !important;
      border-right: 0;
      padding-top: 13px;
      padding-bottom: 13px;

      .u-field-row{
        //border-bottom: 1px solid $gray20;
        border-bottom: 0px;
      }
      
      .u-field {
        border-left: 0 !important;
        .u-field-slot-blank{
          height: 100%;

          .search-btn{
            height: 100%;
            padding-right: 20px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
          }
        }

        .col {
          border-radius: 6px;
          background-color: $gray20 !important;
        }
        .row {
          background-color: $gray20;
          border-left: none;
          border-right: none;
          border-radius: 6px;
        }

        .u-field-label{
          // min-width: 130px !important;
          // width: 130px !important;
          min-width: 150px !important;
          width: 150px !important;
          justify-content: flex-start;

          color: $is-black;
          //font-weight: 600;
          font-size: pxToRem(14);

          &:first-child{
            padding-top: 15px;
          }

          &:last-child {
            padding-bottom: 15px;
          }
        }
      }
    }
  }
  &.is-large {
    .u-field-set-slot {
      .u-field-label {
        min-width: 230px !important;
      }
    }
  }
}
