.p-calendar-group {
  display: flex;
  align-items: center;

  .range {
    margin: 0 8px;
  }

  .p-calendar {
    
    .p-inputtext {
      &::placeholder {
        font-size: 14px;
        color: #C3C3C3;
      }
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.375 11.7917C6.13889 11.7917 5.94097 11.7118 5.78125 11.5521C5.62153 11.3924 5.54167 11.1945 5.54167 10.9584C5.54167 10.7222 5.62153 10.5243 5.78125 10.3646C5.94097 10.2049 6.13889 10.125 6.375 10.125C6.61111 10.125 6.80903 10.2049 6.96875 10.3646C7.12847 10.5243 7.20833 10.7222 7.20833 10.9584C7.20833 11.1945 7.12847 11.3924 6.96875 11.5521C6.80903 11.7118 6.61111 11.7917 6.375 11.7917ZM10.0625 11.7917C9.82639 11.7917 9.62847 11.7118 9.46875 11.5521C9.30903 11.3924 9.22917 11.1945 9.22917 10.9584C9.22917 10.7222 9.30903 10.5243 9.46875 10.3646C9.62847 10.2049 9.82639 10.125 10.0625 10.125C10.2986 10.125 10.4965 10.2049 10.6562 10.3646C10.816 10.5243 10.8958 10.7222 10.8958 10.9584C10.8958 11.1945 10.816 11.3924 10.6562 11.5521C10.4965 11.7118 10.2986 11.7917 10.0625 11.7917ZM13.6042 11.7917C13.3681 11.7917 13.1701 11.7118 13.0104 11.5521C12.8507 11.3924 12.7708 11.1945 12.7708 10.9584C12.7708 10.7222 12.8507 10.5243 13.0104 10.3646C13.1701 10.2049 13.3681 10.125 13.6042 10.125C13.8403 10.125 14.0382 10.2049 14.1979 10.3646C14.3576 10.5243 14.4375 10.7222 14.4375 10.9584C14.4375 11.1945 14.3576 11.3924 14.1979 11.5521C14.0382 11.7118 13.8403 11.7917 13.6042 11.7917ZM3.75 18.3334C3.41667 18.3334 3.125 18.2084 2.875 17.9584C2.625 17.7084 2.5 17.4167 2.5 17.0834V4.16669C2.5 3.83335 2.625 3.54169 2.875 3.29169C3.125 3.04169 3.41667 2.91669 3.75 2.91669H5.10417V1.66669H6.45833V2.91669H13.5417V1.66669H14.8958V2.91669H16.25C16.5833 2.91669 16.875 3.04169 17.125 3.29169C17.375 3.54169 17.5 3.83335 17.5 4.16669V17.0834C17.5 17.4167 17.375 17.7084 17.125 17.9584C16.875 18.2084 16.5833 18.3334 16.25 18.3334H3.75ZM3.75 17.0834H16.25V8.12502H3.75V17.0834ZM3.75 6.87502H16.25V4.16669H3.75V6.87502Z' fill='%23888888'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: calc(100% - 8px) center;
      
      &:hover,
      &:focus {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.375 11.7917C6.13889 11.7917 5.94097 11.7118 5.78125 11.5521C5.62153 11.3924 5.54167 11.1945 5.54167 10.9584C5.54167 10.7222 5.62153 10.5243 5.78125 10.3646C5.94097 10.2049 6.13889 10.125 6.375 10.125C6.61111 10.125 6.80903 10.2049 6.96875 10.3646C7.12847 10.5243 7.20833 10.7222 7.20833 10.9584C7.20833 11.1945 7.12847 11.3924 6.96875 11.5521C6.80903 11.7118 6.61111 11.7917 6.375 11.7917ZM10.0625 11.7917C9.82639 11.7917 9.62847 11.7118 9.46875 11.5521C9.30903 11.3924 9.22917 11.1945 9.22917 10.9584C9.22917 10.7222 9.30903 10.5243 9.46875 10.3646C9.62847 10.2049 9.82639 10.125 10.0625 10.125C10.2986 10.125 10.4965 10.2049 10.6562 10.3646C10.816 10.5243 10.8958 10.7222 10.8958 10.9584C10.8958 11.1945 10.816 11.3924 10.6562 11.5521C10.4965 11.7118 10.2986 11.7917 10.0625 11.7917ZM13.6042 11.7917C13.3681 11.7917 13.1701 11.7118 13.0104 11.5521C12.8507 11.3924 12.7708 11.1945 12.7708 10.9584C12.7708 10.7222 12.8507 10.5243 13.0104 10.3646C13.1701 10.2049 13.3681 10.125 13.6042 10.125C13.8403 10.125 14.0382 10.2049 14.1979 10.3646C14.3576 10.5243 14.4375 10.7222 14.4375 10.9584C14.4375 11.1945 14.3576 11.3924 14.1979 11.5521C14.0382 11.7118 13.8403 11.7917 13.6042 11.7917ZM3.75 18.3334C3.41667 18.3334 3.125 18.2084 2.875 17.9584C2.625 17.7084 2.5 17.4167 2.5 17.0834V4.16669C2.5 3.83335 2.625 3.54169 2.875 3.29169C3.125 3.04169 3.41667 2.91669 3.75 2.91669H5.10417V1.66669H6.45833V2.91669H13.5417V1.66669H14.8958V2.91669H16.25C16.5833 2.91669 16.875 3.04169 17.125 3.29169C17.375 3.54169 17.5 3.83335 17.5 4.16669V17.0834C17.5 17.4167 17.375 17.7084 17.125 17.9584C16.875 18.2084 16.5833 18.3334 16.25 18.3334H3.75ZM3.75 17.0834H16.25V8.12502H3.75V17.0834ZM3.75 6.87502H16.25V4.16669H3.75V6.87502Z' fill='%23D20F27'/%3E%3C/svg%3E%0A");
      }
    }
  }
}

.p-datepicker {
  margin-top: 4px;
  background-color: white;
  color: black;
  padding: 20px;
  box-shadow: none;
  border: 1px solid #666666;

  .p-datepicker-header {
    background-color: white;
    color: #222222;
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -1%;
  }

  .p-datepicker-calendar {
    thead > tr > th,
    tbody > tr > td {
      font-size: 15px;
      font-weight: 400;
      line-height: 22.5px;
    }
  }
}