.p-dialog {
  margin: 20px;
}

// header
.p-dialog-header {
  height: 60px;
  padding: 0 20px;
  border-bottom: 1px solid #e7e7e7;
  color: #000;
  background-color: #fff;

  // header title 존재하지 않을 경우
  &:not(:has(.p-dialog-title)) {
    border: none;
    justify-content: flex-end;
  }

  .p-dialog-maximized & {
    height: 50px;
    padding: 0 15px 0 20px;
    border-bottom: 0;
    border-radius: 0;
  }
}

.p-dialog-title {
  font-weight: 700;
  font-size: 16px;

  .p-dialog-maximized & {
    font-size: 18px;
  }
}

.p-dialog-header-icons {
  margin-right: -2px;
}

.p-dialog-header-close {
  width: 24px;
  height: 24px;

  svg {
    display: none;
  }

  background: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.2105 0.788761C16.8256 0.403877 16.2016 0.403877 15.8167 0.788761L8.99961 7.60585L2.18252 0.788761C1.79763 0.403877 1.17361 0.403877 0.788725 0.788761C0.40384 1.17365 0.40384 1.79767 0.788725 2.18255L7.60582 8.99964L0.788273 15.8172C0.403388 16.2021 0.403388 16.8261 0.788273 17.211C1.17316 17.5958 1.79718 17.5958 2.18206 17.211L8.99961 10.3934L15.8172 17.211C16.202 17.5958 16.8261 17.5959 17.2109 17.211C17.5958 16.8261 17.5958 16.2021 17.2109 15.8172L10.3934 8.99964L17.2105 2.18255C17.5954 1.79767 17.5954 1.17365 17.2105 0.788761Z' fill='%23888888' stroke='%23888888' stroke-width='0.2' stroke-linecap='round'/%3E%3C/svg%3E%0A")
    no-repeat center;
}

// content
.p-dialog-content {
  border-radius: 0;
  color: #222;
  background-color: #fff;

  &::-webkit-scrollbar {
    width: 12px; /* 스크롤바의 너비 */
    height: 12px;
  }

  &::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    border-radius: 10px;
    border: 3px solid #fff;
    background-color: #e7e7e7; /* 스크롤바의 색상 */

    &:hover {
      background-color: #888;
    }
  }

  .dialog-content-inner {
    overflow-y: auto;
    padding: 24px 20px;

    &::-webkit-scrollbar {
      width: 12px; /* 스크롤바의 너비 */
      height: 12px;
    }

    &::-webkit-scrollbar-thumb {
      height: 30%; /* 스크롤바의 길이 */
      border-radius: 10px;
      border: 3px solid #fff;
      background-color: #e7e7e7; /* 스크롤바의 색상 */

      &:hover {
        background-color: #888;
      }
    }
  }
}

// footer
.p-dialog-footer {
  background-color: #fff;
}
