// header
.p-dialog-header {
  height: 50px;
  padding: 0 15px 0 20px;
  border-radius: 0;
  color: #000;
  background-color: #fff;
}

.p-dialog-title {
  font-weight: 700;
  font-size: 18px;
}

.p-dialog-header-icons {
  margin-right: -2px;
}

.p-dialog-header-close {
  width: 24px;
  height: 24px;
  color: #222;
}

// content
.p-dialog-content {
  border-radius: 0;
  color: #222;
  background-color: #fff;
}
