.p-inputswitch {
  .p-inputswitch-slider {
    height: 24px;
    box-shadow: none;
    border: 1px solid #e7e7e7;
    background-color: #f6f6f6;

    &::before {
      top: 50%;
      left: 1px;
      right: auto;
      transform: translateY(-50%);
      background: #e7e7e7;
    }
  }

  &.p-inputswitch-checked {
    .p-inputswitch-slider {
      border-color: #d20f27;
      background-color: #d20f27;

      &::before {
        left: auto;
        right: 1px;
        background: #fff;
      }
    }
  }
}
