.p-button {
  padding: 9px 20px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  color: white;
  background-color: var(--j-primary03);

  // label
  .p-button-label {
    font-weight: 500;
    line-height: 1.6;
  }

  // actions
  &:hover {
    background-color: var(--j-primary01);
  }

  &:focus {
    box-shadow: none;
    background-color: var(--j-primary01);
  }

  &:disabled {
    background-color: var(--j-gray200);
  }

  // size
  &.p-button-sm {
    padding: 7px 14px;

    .p-button-label {
      font-size: 13px;
      line-height: 1.2;
    }

    .p-button-icon {
      width: 12px;
      height: 12px;
    }

    .p-button-icon-left {
      margin-right: 5px;
    }

    .p-button-icon-right {
      margin-left: 5px;
    }
  }

  &.p-button-lg {
    padding: 15px 30px;

    .p-button-label {
      font-weight: 700;
      font-size: 15px;
    }

    .p-button-icon {
      width: 18px;
      height: 18px;
    }

    .p-button-icon-left {
      margin-right: 6px;
    }

    .p-button-icon-right {
      margin-left: 6px;
    }
  }

  // icons
  .p-button-icon {
    width: 16px;
    height: 16px;
    font-weight: 700;
  }

  .p-button-icon-left {
    margin-right: 4px;
  }

  .p-button-icon-right {
    margin-left: 4px;
  }

  // secondary
  &.p-button-secondary {
    color: var(--j-bluegray700);
    background-color: var(--j-bluegray300);

    // actions
    &:hover {
      background-color: var(--j-bluegray200);
    }

    &:focus {
      box-shadow: none;
      background-color: var(--j-bluegray200);
    }

    &:disabled {
      color: var(--j-bluegray500);
      background-color: var(--j-bluegray300);

      .p-button-icon {
        color: var(--j-bluegray500);
      }
    }
  }

  // outline
  &.p-button-outlined {
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid var(--j-gray300);
    color: var(--j-gray600);
    background-color: #fff;

    &:hover,
    &:focus {
      border-color: var(--j-gray600);
      background-color: var(--j-gray100);
    }

    &:disabled {
      border-color: var(--j-gray200);
      color: var(--j-gray300);
      background-color: var(--j-gray100);
    }

    &.is-certify {
      padding: 20px 40px;
      border-radius: 8px;
      border-color: var(--j-primary01);
      font-weight: 700;
      color: var(--j-primary01);
      background-color: #fff;

      &:hover {
        background-color: var(--j-bluegray200);
      }

      &:disabled {
        border-color: var(--j-bluegray400);
        color: var(--j-bluegray500);
        background-color: var(--j-bluegray200);
      }
    }

    // size
    &.p-button-sm {
      padding-top: 6px;
      padding-bottom: 6px;
    }

    &.p-button-lg {
      padding-top: 14px;
      padding-bottom: 14px;
    }
  
  }

  // text
  &.p-button-text {
    padding: 0;
    text-decoration: underline;
    color: var(--j-bluegray600);
    background-color: transparent;

    &:hover,
    &:focus {
      color: var(--j-bluegray700);
    }

    &:disabled {
      color: var(--j-gray300);
    }
  }

  // modifier
  &.is-kakao {
    border: 1px solid #fae100;
    background-color: #fae100;
  }

  &.is-phone {
    border: 1px solid #ededed;
    background-color: #fff;
  }

  &.is-kakao,
  &.is-phone {
    padding: 10px 16px;
    color: #000;

    .p-button-label {
      font-weight: 400;
    }
  }
}
