// header
.p-dialog-header {
  height: 70px;
  padding: 0 30px;
  border-bottom: 1px solid #e7e7e7;
  color: #000;
  background-color: #fff;
}

.p-dialog-title {
  font-weight: 700;
  font-size: 20px;
}

.p-dialog-header-icons {
  margin-right: -2px;
}

.p-dialog-header-close {
  color: #888;
}

// content
.p-dialog-content {
  color: #222;
  background-color: #fff;
}
