
// 1 Depth Tab
.default_tab,
.fill_tab .default_tab {
  // Tab Header
  .p-tabview-nav-container {
    color: var(--j-white);

    .p-tabview-header {
      flex: 1;
      padding: 18px 0;
      border: none;
      border-bottom: 1px solid var(--j-gray200);

      &.p-highlight {
        border-bottom: 2px solid  var(--j-black);
        background-color: unset;
        
        .p-tabview-nav-link {
          color: black;
          font-weight: 700;
        }
      }

      .p-tabview-nav-link  {
        background-color: transparent;
        color: var(--j-gray400);
        font-size: 16px;
        text-align: center;
        justify-content: center;
        font-weight: 400;
        line-height: 24px;
        transition: all 0.25s;

        &:hover {
            color:  var(--j-black);
        }
      }
    }
  }

  // Tab Content
  .p-tabview-panels {
      margin-top: 40px;
      background-color: transparent;
      color: var(--j-black);
  }
}

.fill_tab {
  // Tab Header
  .p-tabview-nav-container {
    color: var(--j-white);

    .p-tabview-header {
      flex: 1;
      padding: 18px 0;
      border: 1px solid var(--j-gray200);

      &.p-highlight {
        background-color: var(--j-primary03);
        
        .p-tabview-nav-link {
          color: var(--j-white);
          font-weight: 700;
        }
      }

      .p-tabview-nav-link  {
        background-color: transparent;
        color: var(--j-gray400);
        font-size: 16px;
        text-align: center;
        justify-content: center;
        font-weight: 400;
        line-height: 24px;
        transition: all 0.25s;
      }
      &:not(.p-highlight) {
        .p-tabview-nav-link:hover {
          color: var(--j-black);
        }
      }
    }
  }

  // Tab Content
  .p-tabview-panels {
    margin-top: 80px;
    background-color: transparent;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;

    .p-tabview-panel {
      width: 100%;
    }
  }
}