@charset "utf-8";

input {
  border: 1px solid #cbcbcb;

  &:focus {
    border: 1px solid $vDarken3;
  }
}
textarea {
  padding: 5px 10px;
  background: #fff;
  border: 1px solid #cbcbcb;
  border-radius: 4px;
  vertical-align: top;
  &:hover,
  &:active,
  &:focus {
    border: 1px solid $vDarken3;
  }
  &:disabled {
    color: $vDarken5;
    border: 1px solid #cbcbcb;
    background: $vLighten8;
  }
  &:read-only {
    border: 1px solid #cbcbcb;
    background: $vLighten8;
  }
}

// 2023-12-08 UI개발
input[type='checkbox'] {
  display: none;
  & + label {
    color: $is-black;
    &:before {
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 6px;
      margin-top: -2.5px;
      vertical-align: middle;
      background: #fff;
      border: 1px solid #767676;
      border-radius: 2px;
    }
    &:hover,
    &:active,
    &:focus {
      cursor: pointer;
      &:before {
        border: 1px solid $is-primary;
      }
    }
  }
  &:checked {
    & + label:before {
      background: $is-primary url(/assets/images/svg/ico_check.svg) no-repeat center center;
      border: 1px solid $is-primary;
    }
  }
  &:disabled {
    & + label {
      cursor: unset;
      color: $is-black;
      &:before {
        border: 1px solid $gray20;
        background: $gray80;
      }
    }
    &:checked {
      & + label:before {
        background: $gray80 url(/assets/images/svg/ico_check.svg) no-repeat center center;
        border: 1px solid $gray80;
      }
    }
  }
}

// 2023-12-08 UI개발
input[type='radio'] {
  display: none;
  & + label {
    color: $is-black;
    &:before {
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 6px;
      margin-top: -2.5px;
      vertical-align: middle;
      background: #fff;
      border: 1px solid $gray180;
      border-radius: 15px;
    }
    &:hover,
    &:active,
    &:focus {
      cursor: pointer;
      &:before {
        border: 1px solid $is-primary;
      }
    }
  }
  &:checked {
    & + label:before {
      border: 4px solid $is-primary;
    }
  }
  &:disabled {
    & + label {
      color: $gray180;
      &:before {
        border: 1px solid $gray80;
        background: $gray20;
      }
    }
    &:checked {
      & + label:before {
        background: $is-white;
        border: 4px solid $gray80;
      }
    }
  }
}
label {
  input[type='checkbox'],
  input[type='radio'] {
    display: inline-block;
  }
}

input[type='file'] {
  position: relative;
  width: 276px;
  height: 30px;
  padding: 2px 73px 2px 10px;
  border: 0;
  color: $vDarken4;
  font-size: pxToRem(14);
  line-height: 26px;
}
input[type='file']:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 30px;
  background: $vDarken10;
  border: 1px solid $vDarken5;
  border-radius: 4px;
  opacity: 0.3;
}
input[type='file']::file-selector-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 30px;
  background: $vLighten10;
  border: 1px solid $vLighten2;
  border-radius: 4px;
  font-size: 14px;
  color: $vDarken2;
}

::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
  height: 8px;
}

::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #b9b9b9; /* 스크롤바의 색상 */

  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #f2f5f6; /*스크롤바 뒷 배경 색상*/
}
::-webkit-scrollbar-corner {
  background: #f2f5f6;
}