@charset "utf-8";

.v-overlay-container {
  .v-overlay__scrim {
    opacity: 0.42;
  }
  .v-dialog {
    .v-overlay__content {
      min-width: 300px;
      max-width: 1600px;
      .v-card,
      .v-sheet {
        border-radius: 13px;
      }

      .v-card {
        max-height: 700px;
        .v-card-title {
          position: relative;
          font-family: 'Pretendard, sans-serif';
          font-weight: 600;
          font-size: pxToRem(20);
          color: black;
          padding: 30px 30px 20px 30px;
          line-height: 24px;

          .closeBtn {
            position: absolute;
            top: 30px;
            right: 30px;
            width: 20px;
            height: 20px;
            cursor: pointer;
            background: url(/assets/images/svg/ico_close.svg) no-repeat center center;
          }
        }
        .v-card-text {
          min-height: 100px;
          //padding: 0px 30px 25px 30px;
          padding: 0;
        }
        .v-card-actions {
          padding: 20px;
        }
      }
    }
    .table {
      &.is-search {
        margin-bottom: 30px;
      }
    }
    .u-box {
      > .u-item {
        &:last-child {
          padding-top: 25px;
        }
      }

      .table-title-wrap {
        &:not(:first-child) {
          margin-top: 20px;
        }
      }
    }

    .pop-contents{
      overflow: auto;
      padding: 0px 30px;
      padding-bottom: 25px;
    }

    .pop-btn {
      padding: 25px 30px;
      border-top : 1px solid #DBDBDB;

      .u-button-box{
        padding: 0;
      }
    }

    .pop-search{
      height: unset !important;
      min-height: unset !important;
      margin-bottom: 30px;
    }
  }
}

.u-popup {
  
  
  &[class*="alert-"] {
    &.alert-error {
      .v-card-title {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_5489)'%3E%3Cpath d='M9.89343 18.6428C8.16327 18.6421 6.47215 18.1285 5.03378 17.167C3.59542 16.2055 2.47439 14.8391 1.81238 13.2406C1.15036 11.6421 0.977085 9.88324 1.31444 8.18629C1.6518 6.48935 2.48464 4.93049 3.70772 3.70676C4.51485 2.87074 5.48042 2.20387 6.54808 1.74507C7.61573 1.28626 8.76407 1.04471 9.92609 1.03452C11.0881 1.02432 12.2405 1.24568 13.3161 1.68568C14.3916 2.12568 15.3687 2.7755 16.1904 3.59722C17.0121 4.41894 17.6619 5.3961 18.1018 6.47166C18.5418 7.54722 18.7631 8.69963 18.7528 9.86165C18.7426 11.0237 18.501 12.172 18.0421 13.2396C17.5833 14.3073 16.9163 15.2728 16.0803 16.0799C15.2697 16.8949 14.3055 17.5411 13.2436 17.981C12.1816 18.4209 11.0429 18.6459 9.89343 18.6428ZM9.99972 10.9388L12.5809 13.5188C12.6419 13.5826 12.7151 13.6336 12.7962 13.6688C12.8772 13.704 12.9645 13.7227 13.0528 13.7237C13.1412 13.7247 13.2289 13.708 13.3107 13.6747C13.3925 13.6413 13.4669 13.592 13.5293 13.5295C13.5918 13.4671 13.6412 13.3928 13.6746 13.311C13.708 13.2291 13.7247 13.1415 13.7238 13.0531C13.7228 12.9648 13.7042 12.8775 13.6691 12.7964C13.634 12.7154 13.583 12.6421 13.5191 12.581L10.938 9.9999L13.5191 7.42104C13.6118 7.32807 13.6749 7.20974 13.7004 7.08098C13.7259 6.95222 13.7126 6.81879 13.6624 6.69752C13.6122 6.57626 13.5271 6.47259 13.418 6.39959C13.309 6.32658 13.1807 6.28752 13.0494 6.28733C12.9623 6.28706 12.876 6.30416 12.7955 6.33761C12.7151 6.37107 12.6421 6.42021 12.5809 6.48218L9.99972 9.06333L7.422 6.48047C7.29728 6.35559 7.12805 6.28537 6.95155 6.28527C6.77505 6.28516 6.60574 6.35517 6.48086 6.4799C6.35598 6.60463 6.28576 6.77385 6.28566 6.95035C6.28555 7.12685 6.35556 7.29616 6.48029 7.42104L9.06086 10.0016L6.48029 12.581C6.41868 12.6426 6.36981 12.7158 6.33647 12.7963C6.30312 12.8768 6.28596 12.9631 6.28596 13.0502C6.28596 13.1373 6.30312 13.2236 6.33647 13.3041C6.36981 13.3846 6.41868 13.4577 6.48029 13.5193C6.5419 13.5809 6.61504 13.6298 6.69553 13.6631C6.77603 13.6965 6.8623 13.7137 6.94943 13.7137C7.03656 13.7137 7.12283 13.6965 7.20333 13.6631C7.28383 13.6298 7.35697 13.5809 7.41857 13.5193L9.99915 10.9393L9.99972 10.9388Z' fill='%23EF0000'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_5489'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      }
    }
    &.alert-confirm {
      .v-card-title {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_5508)'%3E%3Cpath d='M10.001 18.7503C8.2706 18.752 6.57867 18.24 5.13958 17.2791C3.70049 16.3183 2.57902 14.9519 1.91727 13.3531C1.25553 11.7542 1.08329 9.99495 1.4224 8.29814C1.7615 6.60132 2.59668 5.04336 3.82211 3.82168C4.62952 2.9921 5.5937 2.3312 6.65866 1.87736C7.72363 1.42351 8.86814 1.18577 10.0258 1.17793C11.1834 1.1701 12.331 1.39233 13.402 1.83171C14.473 2.2711 15.446 2.91888 16.2646 3.73745C17.0832 4.55602 17.731 5.52907 18.1704 6.60008C18.6097 7.67108 18.832 8.81871 18.8241 9.97632C18.8163 11.1339 18.5786 12.2784 18.1247 13.3434C17.6709 14.4084 17.01 15.3726 16.1804 16.18C15.3715 16.9958 14.4089 17.643 13.3482 18.0842C12.2875 18.5254 11.1498 18.7518 10.001 18.7503ZM6.6261 9.37483L5.62611 10.3125L8.75068 13.4377L14.3758 7.8754L13.3764 6.8754L8.75068 11.5005L6.6261 9.37483Z' fill='%2300D5A2'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_5508'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      }
    }
    &.alert-delete {
      .v-card-title {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_5470)'%3E%3Cpath d='M17.3528 17.4779H2.54534C2.34463 17.4781 2.14741 17.4255 1.97352 17.3252C1.79963 17.225 1.6552 17.0807 1.55476 16.907C1.45432 16.7332 1.40142 16.5361 1.40137 16.3353C1.40132 16.1346 1.45413 15.9375 1.55448 15.7636L8.95734 2.86878C9.05746 2.69439 9.20181 2.5495 9.37584 2.44874C9.54986 2.34798 9.74739 2.29492 9.94848 2.29492C10.1496 2.29492 10.3471 2.34798 10.5211 2.44874C10.6951 2.5495 10.8395 2.69439 10.9396 2.86878L18.3436 15.7636C18.444 15.9375 18.4968 16.1346 18.4967 16.3353C18.4967 16.5361 18.4438 16.7332 18.3433 16.907C18.2429 17.0807 18.0985 17.225 17.9246 17.3252C17.7507 17.4255 17.5535 17.4781 17.3528 17.4779ZM10.0345 13.2379C9.83142 13.2407 9.63557 13.3136 9.48014 13.4443C9.3247 13.575 9.21925 13.7554 9.18167 13.955C9.14408 14.1545 9.17667 14.361 9.27392 14.5392C9.37116 14.7175 9.52707 14.8567 9.71521 14.9331C9.90335 15.0096 10.1121 15.0186 10.3062 14.9586C10.5002 14.8987 10.6675 14.7735 10.7798 14.6043C10.892 14.4351 10.9423 14.2322 10.9221 14.0302C10.9018 13.8281 10.8124 13.6392 10.6688 13.4956C10.5861 13.4118 10.4872 13.3457 10.3782 13.3014C10.2691 13.2571 10.1522 13.2355 10.0345 13.2379ZM10.0345 6.85678C9.80247 6.84171 9.57355 6.91638 9.39505 7.06535C9.32096 7.13612 9.26409 7.22294 9.22883 7.31913C9.19356 7.41532 9.18083 7.51832 9.19162 7.62021L9.45905 11.9796C9.46738 12.1193 9.52869 12.2505 9.63048 12.3465C9.74289 12.4435 9.88849 12.4933 10.0368 12.4854C10.1842 12.4933 10.3292 12.4455 10.4431 12.3516C10.5431 12.2609 10.6034 12.1345 10.6111 11.9996L10.8791 7.62021C10.8898 7.51838 10.8771 7.41544 10.8419 7.31927C10.8068 7.2231 10.7501 7.13625 10.6762 7.06535C10.4971 6.91582 10.2673 6.84112 10.0345 6.85678Z' fill='%23F9B037'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_5470'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      }
    }

    .v-card-title {
      font-size: 15px !important;
      padding: 20px 20px 20px 55px !important;
      background-position: left 30px center;
      background-repeat: no-repeat;

      .closeBtn {
        top: 20px !important;
      }
    }
    .pop-alert {
      justify-content: center !important;
    }
    .pop-contents {
      padding: 0 !important;
      justify-content: center !important;
    }
    .alertText {
      color: $is-black !important;
      text-align: center;
    }

    .pop-btn{
      border: none;
      .u-button-box {
        width: 100%;
        justify-content: center;
      }
    }
  }
}