@charset "utf-8";

.v-overlay-container {
  .v-overlay__scrim {
    opacity: 0.42;
  }
  .v-dialog {
    .v-overlay__content {
      min-width: 300px;
      max-width: 1600px;
      .v-card,
      .v-sheet {
        border-radius: 13px;
      }

      .v-card {
        max-height: 700px;
        .v-card-title {
          position: relative;
          font-family: 'Pretendard, sans-serif';
          font-weight: 600;
          font-size: pxToRem(20);
          color: black;
          padding: 30px 30px 20px 30px;
          line-height: 24px;

          .closeBtn {
            position: absolute;
            top: 30px;
            right: 30px;
            width: 20px;
            height: 20px;
            cursor: pointer;
            background: url(/assets/images/svg/ico_close.svg) no-repeat center center;
          }
        }
        .v-card-text {
          min-height: 100px;
          padding: 0px 30px 25px 30px;
        }
        .v-card-actions {
          padding: 20px;
        }
      }
    }
    .table {
      &.is-search {
        margin-bottom: 30px;
      }
    }
    .u-box {
      > .u-item {
        &:last-child {
          padding-top: 25px;
        }
      }

      .table-title-wrap {
        &:not(:first-child) {
          margin-top: 20px;
        }
      }
    }
  }
}
