@charset "utf-8";

/* ------------------ common ------------------ */

// 인풋
.ipt {
  display: flex;
  align-items: center;
  gap: 5px;
  max-width: 100% !important;
  & .wj-control {
    width: 100%;
  }
  &[class*='wid_'] {
    .textarea_wrap {
      width: 100%;
    }
  }
  .textarea_wrap {
    vertical-align: top;
    textarea {
      width: 100%;
      min-height: 100px;
    }
  }
  input[type='file'] {
    width: 100%;
    &:before {
      width: calc(100% - 76px);
    }
  }
  &.err {
    position: relative;
    .wj-control {
      border: 1px solid $pointColorRed;
      /*사용안함*/
      &.wj-combobox:after {
        content: '';
        position: absolute;
        bottom: 8px;
        right: 8px;
        width: 15px;
        height: 15px;
        background: url(@ustra/nuxt-wijmo/src/management/layouts/assets/img/icon_desc_error.png) no-repeat center center / 14px 14px;
      }
      &.wj-inputmask:after {
        content: '';
        position: absolute;
        bottom: 8px;
        right: 8px;
        width: 15px;
        height: 15px;
        background: url(@ustra/nuxt-wijmo/src/management/layouts/assets/img/icon_desc_error.png) no-repeat center center / 14px 14px;
      }
    }
    .textarea_wrap {
      textarea {
        border: 1px solid $pointColorRed;
      }
      &:after {
        content: '';
        position: absolute;
        bottom: 8px;
        right: 8px;
        width: 15px;
        height: 15px;
        background: url(@ustra/nuxt-wijmo/src/management/layouts/assets/img/icon_desc_error.png) no-repeat center center / 14px 14px;
      }
    }
    &.ipt_btn {
      .wj-control {
        /*사용안함*/
        &.wj-combobox {
          &:after {
            display: none;
          }
        }
        &.wj-inputmask {
          &:after {
            display: none;
          }
        }
      }
    }
  }
}

// input height sm, large
.u-text-box {
  &.is-large {
    .ipt {
      .wj-content {
        &.wj-control {
          .wj-input {
            .wj-input-group {
              .wj-form-control {
                height: 40px !important;
                min-height: 40px !important;
                font-size: pxToRem(15);
              }
              .wj-input-group-btn {
                .wj-btn {
                  height: 40px !important;
                  min-height: 40px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

// 디스크립션 텍스트
@mixin desc_txt_type {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  margin-top: -2px;
  vertical-align: middle;
}
.desc_txt {
  font-size: pxToRem(14);
  color: $vDarken1;
  &[class*='type'] {
    &:before {
      @include desc_txt_type;
    }
  }
  /**
    전 타입 명칭
  */
  &.type01 {
    &:before {
      background: url(@ustra/nuxt-wijmo/src/management/layouts/assets/img/icon_desc_defalt.png) no-repeat center center / 14px 14px;
    }
  }
  &.type02 {
    color: $pointColorRed;
    &:before {
      background: url(@ustra/nuxt-wijmo/src/management/layouts/assets/img/icon_desc_error.png) no-repeat center center / 14px 14px;
    }
  }
  &.type03 {
    &:before {
      background: url(@ustra/nuxt-wijmo/src/management/layouts/assets/img/icon_desc_check.png) no-repeat center center / 14px 14px;
    }
  }
  /**
    type 명칭 재정의
  */
  &.info {
    &:before {
      @include desc_txt_type;
      background: url(@ustra/nuxt-wijmo/src/management/layouts/assets/img/icon_desc_defalt.png) no-repeat center center / 14px 14px;
    }
  }
  &.warn {
    color: $pointColorRed;
    &:before {
      @include desc_txt_type;
      background: url(@ustra/nuxt-wijmo/src/management/layouts/assets/img/icon_desc_error.png) no-repeat center center / 14px 14px;
    }
  }
  &.check {
    &:before {
      @include desc_txt_type;
      background: url(@ustra/nuxt-wijmo/src/management/layouts/assets/img/icon_desc_check.png) no-repeat center center / 14px 14px;
    }
  }
}

// 링크 텍스트
.link {
  color: $vDarken1;
  font-size: pxToRem(14);
  text-decoration: underline;
  /*전 타입 명칭*/
  &.type02 {
    color: $pointColorSkyblue;
  }
  &.type03 {
    color: $vLighten1;
  }
  /*신규 타입*/
  &.blue {
    color: $pointColorSkyblue;
  }
  &.gray {
    color: $vLighten1;
  }
}

// 그룹 버튼
.group_btn_list {
  &.is-login {
    label {
      font-size: 15px !important;
      line-height: 18px;
      color: black;
    }
  }
  &.no-border {
    border: none;

    & li {
      border: none;
    }
  }
  display: flex;
  // flex-wrap: wrap;
  width: 100%;
  //background: #fff;
  background: transparent;
  border: 1px solid #cbcbcb;
  border-radius: 4px;
  overflow: hidden;
  li {
    width: 100%;
    height: 28px;
    border-left: 1px solid #cbcbcb;
    text-align: center;
    font-size: pxToRem(14);
    &:first-child {
      border-left: none;
    }
    input[type='radio'] {
      & + label {
        width: 100%;
        height: 28px;
        padding: 5px 0;
        background: #fff;
        &:before {
          display: none;
        }
      }
      &:checked + label {
        background: $vPrimary3;
        color: #fff;
        font-weight: 600;
      }
      &:disabled + label {
        color: #bdbdbd;
      }
    }
    label {
      display: block;
      height: 28px;
      padding: 5px 0;
    }
  }
}

// 탭영역
.wj-tabpanel {
  display: flex !important;
  flex-wrap: nowrap;
  > div[wj-part='root'] {
    width: 100%;
  }
  &:not(.is-menu) {
    > div {
      .wj-tabheaders {
        white-space: nowrap;
        border-bottom: 1px solid $is-primary;
        .wj-tabheader {
          position: relative;
          margin-left: -1px;
          padding: 10px 20px;
          color: $gray220;
          font-size: pxToRem(14);
          font-weight: 500;
          border: 1px solid #dbdbdb;
          border-bottom: 0;
          border-radius: 4px 4px 0 0;
          &.wj-state-active {
            color: $vDarken1;
            font-weight: 600;
            border: 1px solid $vPrimary1;
            border-bottom: 0;
            z-index: 1;
            &:after {
              background: #fff;
            }
          }
          &:after {
            bottom: -1px;
            height: 1px;
            background: $vDarken1;
            border-radius: 0;
          }
          &:first-child {
            margin-left: 0;
          }
        }
      }
      .wj-tabpanes {
        // border-top: 1px solid $vDarken1;
        margin-top: 20px;
        border-top: none;
      }
    }
  }

  &.is-menu {
    > div {
      .wj-tabheaders {
        display: flex;
        border: none;

        .wj-tabheader {
          flex: 1 0%;
          height: 40px;
          padding: 7px 0;
          color: #b4b4b4;
          font-size: pxToRem(15);
          display: flex;
          align-items: center;
          justify-content: center;

          a {
            border-bottom: 0 !important;
          }

          &.wj-state-active {
            color: $vDarken1;
            font-weight: 700;

            z-index: 1;
            &:after {
              height: 2px;
              border-radius: 3px;
              background: #030303;
            }
          }
        }
      }
    }
  }
}

// 중요텍스트 옆 빨간 별표
.required {
  &:before {
    content: '*';
    position: relative;
    display: inline-block;
    top: -2px;
    margin-right: 5px;
    color: $pointColorRed;
  }
  &.last {
    &:before {
      display: none;
    }
    &:after {
      content: '*';
      position: relative;
      display: inline-block;
      top: -2px;
      margin-left: 5px;
      color: $pointColorRed;
    }
  }
}

// 세로 테이블
.h_table {
  overflow: auto;
  max-height: 500px;
  border-top: 1px solid $vPrimary1;
  border-bottom: 1px solid $vLighten5;
  table {
    width: 100%;
    table-layout: fixed;
    border-right: 1px solid $vLighten5;
    thead {
      th {
        padding: 9px 10px 8px;
        background: #fafafa;
        border-left: 1px solid $vLighten5;
        font-size: pxToRem(13);
        line-height: pxToRem(16);
        font-weight: 600;
        vertical-align: middle;
      }
    }
    tbody {
      tr {
        &:first-child {
          td {
            border-top: 1px solid $vDarken8;
          }
        }
        td {
          padding: 6px 11px;
          border-top: 1px solid $vLighten5;
          border-left: 1px solid $vLighten5;
          color: $vDarken1;
          vertical-align: middle;
          @include ellipsis;
          &.combo {
            padding: 1px;
          }
        }
      }
    }
    th,
    td {
      input[type='checkbox'] {
        & + label {
          &:before {
            margin-right: 0;
          }
        }
      }
    }
    .left {
      text-align: left;
    }
    .center {
      text-align: center;
    }
    .right {
      text-align: right;
    }
  }
  & ~ .space_btn_box {
    margin-top: 22px;
  }
}

// 가로 테이블
.v_table {
  width: 100%;
  tbody {
    tr {
      td,
      th {
        font-size: pxToRem(14);
        font-weight: 400;
        color: #000;
        line-height: 15px;
        padding: 6px 11px;
        border-bottom: 1px solid #e9e9e9;
        position: relative;
      }
      th {
        font-size: pxToRem(13);
        font-weight: 600;
        text-align: right;
        background-color: #fafafa;
        vertical-align: middle;
      }
      td {
        textarea {
          min-width: 200px;
          min-height: 70px;
        }
      }

      &:first-child {
        th,
        td {
          border-top: 1px solid $vPrimary1;
        }
      }

      &:last-child {
        th,
        td {
          border-bottom: 1px solid #bcbcbc;
        }
      }
    }
  }
  & ~ .space_btn_box {
    margin-top: 22px;
  }
}

.check_group {
  display: flex;
  align-items: center;
  gap: 13px;
  min-height: 30px;
}

// 페이징
.paging_wrap {
  margin-top: 20px;
  .paging_list {
    display: flex;
    justify-content: center;
    button {
      min-width: 30px;
      padding: 0 5px;
      height: 30px;
      border: 1px solid transparent;
      &.active {
        border: 1px solid $vLighten2;
        border-radius: 4px;
        color: $vPrimary4;
      }
      &.prev {
        background: url(@ustra/nuxt-wijmo/src/management/layouts/assets/img/icon_btn_paging.png) no-repeat center center;
        transform: rotate(180deg);
      }
      &.next {
        background: url(@ustra/nuxt-wijmo/src/management/layouts/assets/img/icon_btn_paging.png) no-repeat center center;
      }
      &.start {
        background: url(@ustra/nuxt-wijmo/src/management/layouts/assets/img/icon_btn_paging_double.png) no-repeat center center;
        transform: rotate(180deg);
      }
      &.end {
        background: url(@ustra/nuxt-wijmo/src/management/layouts/assets/img/icon_btn_paging_double.png) no-repeat center center;
      }
    }
  }
}

// 텍스트 버튼 좌우 배열
.space_btn_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 9px;
  .btn_wrap:only-child {
    width: 100%;
    text-align: right;
  }
}

// 그리드 상단 타이틀
.grid_h1 {
  margin-top: 29px;
  margin-bottom: 5px;
  font-size: pxToRem(17);
  font-weight: 600;
  color: $vDarken1;
  & + .space_btn_box {
    margin-top: 0;
  }
}
.grid_h2 {
  font-size: pxToRem(15);
  font-weight: 600;
  color: $vDarken1;
  position: relative;
  padding-left: 17px;
  &:before {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    border-bottom: 2px solid $vPrimary1;
    border-left: 2px solid $vPrimary1;
    transform: rotate(-135deg);
    border-color: $vPrimary1;
    left: 0px;
  }
}

/* ------------------ contents ------------------ */

// 상단 조회 상세 영역
.search_wrap {
  position: relative;
  margin: 20px 0;
  padding: 8px 15px;
  background: #f8f8f8;
  border-radius: 8px;
  .search_ipt_list {
    padding: 12px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 2.66%;
    .list_item {
      width: 23%;
      .tit {
        font-size: pxToRem(14);
        color: $vDarken3;
      }
      .ipt {
        margin-top: 8px;
        & + .tit {
          margin-top: 10px;
        }
        .textarea_wrap {
          width: 100%;
        }
      }
    }
  }
  .btn_wrap {
    &.abs {
      position: absolute;
      left: 0;
      bottom: -33px;
    }
  }
  .space_btn_box {
    margin-bottom: 0;
  }
}

// 조회 결과 영역
.result_wrap {
  margin-top: 12px;
}

.v_table {
  & + .btn_wrap {
    margin-top: 20px;
  }
}

.fixed_btn_wrap {
  height: 56px;
  .fixed_btn_inner {
    position: fixed;
    bottom: 30px;
    left: 250px;
    width: calc((100% - 250px) - 0px);
    padding: 10px 30px;
    background: #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    transition-duration: 0.2s;
    transition-property: box-shadow, transform, visibility, width, height, left, right, top, bottom;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .space_btn_box {
      margin-bottom: 0;
    }
  }
}

.v-navigation-drawer--rail {
  & ~ .v-main {
    .fixed_btn_inner {
      left: 60px;
      width: calc((100% - 60px) - 0px);
    }
  }
}

.wj-dropdown-panel {
  padding: 10px 5px;
}

.wj-treeview .wj-node .wj-node-check {
  display: inline-block;
}

.wj-treeview .wj-node.wj-state-selected {
  background: $pointColorSkyblue;
  color: #fff;
}

/*
========================================================
                        UI개발팀
========================================================
*/

// ======= 버튼 =========
.u-button {
  padding: 0 20px;
  background: $is-white;
  border: 1px solid $gray100;
  border-radius: 4px;
  font-size: pxToRem(14);
  color: $is-black;
  height: 32px;

  & + .u-button {
    margin-left: 3px;

    &.is-dialog {
      margin-left: 5px;
    }

    // &.is-outline {
    //   margin-left: 10px;
    // }
  }

  &:hover,
  &:active,
  &:focus {
    border: 1px solid $gray260;
  }
  &:disabled {
    border: 1px solid $gray100;
    color: $gray100;
  }
  &.is-full {
    width: 100%;
  }
  &.is-outline {
    border: 1px solid $gray260;
    color: $is-black;

    &:hover,
    &:active,
    &:focus {
      background-color: $gray40;
    }
  }
  &.is-filled {
    border-color: $is-primary;
    background-color: $is-primary;
    color: $is-white;

    &:hover {
      background: $gray280;
    }

    &:disabled {
      border-color: $gray80;
      background-color: $gray80;
      color: $is-white;
    }

    &.is-login {
      //margin-bottom: 18px;
    }
  }
  &.is-large {
    padding: 0 10px;
    min-width: 86px;
    height: 52px !important;
    font-size: pxToRem(18);
    font-weight: 600;
    line-height: 21px;
  }
  &.is-search {
    padding: 0 15px;
    border: none;
    border-color: $is-primary;
    background-color: $is-primary;
    color: $is-white;

    &:before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-top: -4px;
      margin-right: 2px;
      background: url(/assets/images/svg/ico_search.svg) no-repeat center center;
      vertical-align: middle;
    }
    &:after {
      display: none !important;
    }
    &:disabled {
      border-color: $gray80;
      background-color: $gray80;

      &:before {
        background: url(/assets/images/svg/ico_search.svg) no-repeat center center;
      }
    }
  }
  &.is-question {
    background-color: transparent;
    color: transparent;
    border-color: transparent;
    padding: 0;

    &:after {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url(/assets/images/svg/ico_help.svg) no-repeat center center;
    }

    &:hover,
    &:active,
    &:focus {
      &:after {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url(/assets/images/svg/ico_help_active.svg) no-repeat center center;
      }
    }

    &:disabled {
      &:after {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url(/assets/images/svg/ico_help_disable.svg) no-repeat center center;
      }
    }
  }
  &.is-dialog {
    padding: 0 25px;
  }

  &.primary {
    background-color: #26313b;
    color: white;
    border-color: #26313b;
    &:hover,
    &:active,
    &:focus {
      border-color: #333;
      background-color: #333;
      color: white;
    }
    &:disabled {
      background: $vLighten5;
      border: 1px solid $vLighten5;
    }
  }
  &.gray {
    background: #ccc;
    border: 1px solid #ccc;
    color: #fff;
    &:hover,
    &:active,
    &:focus {
      background: $vPrimary3;
      border: 1px solid $vPrimary3;
    }
    &:disabled {
      background: $vLighten5;
      border: 1px solid $vLighten5;
    }
  }

  &[class*='ico_'] {
    width: 32px;
    height: 32px;
    padding: 6px 4px;

    &:after {
      content: '';
      display: inline-block;
      width: 18px;
      height: 18px;
    }

    &:disabled {
      border-color: $gray120 !important;
      color: $gray120 !important;

      &:after {
        stroke: $gray120 !important;
      }
    }
  }
  &.ico_pin {
    &:after {
      background: url(@ustra/nuxt-wijmo/src/management/layouts/assets/img/icon_btn_pin.png) no-repeat center center;
    }
  }
  &.ico_arr {
    &:after {
      background: url(/assets/images/svg/ico_arrow.svg) no-repeat center center;
    }
    &.d {
      transform: rotate(-180deg);
    }
    &.l {
      transform: rotate(-90deg);
    }
    &.t {
      transform: rotate(0deg);
    }
    &.r {
      transform: rotate(90deg);
    }

    &:disabled {
      &:after {
        background: url(/assets/images/svg/ico_arrow_disable.svg) no-repeat center center;
      }
    }
  }
  &.ico_reset {
    &:after {
      background: url(@ustra/nuxt-wijmo/src/management/layouts/assets/img/icon_btn_reset.png) no-repeat center center;
    }
  }
  &.ico_bookmark {
    &:after {
      background: url(@ustra/nuxt-wijmo/src/management/layouts/assets/img/icon_btn_bookmark.png) no-repeat center center;
    }
  }
  &.ico_find02 {
    &:after {
      background: url(/assets/images/svg/ico_find.svg) no-repeat center center;
    }

    &:disabled {
      &:after {
        background: url(/assets/images/svg/ico_find_disable.svg) no-repeat center center;
      }
    }
  }
  &.ico_filter {
    &:after {
      background: url(/assets/images/svg/ico_filter.svg) no-repeat center center;
    }

    &:disabled {
      &:after {
        background: url(/assets/images/svg/ico_filter_disable.svg) no-repeat center center;
      }
    }
  }
  &.ico_page {
    &:after {
      background: url(/assets/images/svg/ico_page.svg) no-repeat center center;
    }

    &:disabled {
      &:after {
        background: url(/assets/images/svg/ico_page_disable.svg) no-repeat center center;
      }
    }
  }
  &.ico_excel {
    width: auto;
    height: 32px;
    padding: 0 20px;
    &:before {
      content: '';
      display: inline-block;
      width: 14px;
      height: 14px;
      margin-top: -2px;
      margin-right: 4px;
      background: url(/assets/images/svg/ico_excel.svg) no-repeat center center;
      vertical-align: middle;
    }
    &:after {
      display: none !important;
    }
    &:disabled {
      &:before {
        background: url(/assets/images/svg/ico_excel_disable.svg) no-repeat center center;
      }
    }
  }
  &.ico_search {
    vertical-align: middle;
    &:before {
      content: '';
      display: inline-block;
      width: 18px;
      height: 18px;
      margin-top: -2px;
      margin-right: 3px;
      background: url(@ustra/nuxt-wijmo/src/management/layouts/assets/img/icon_btn_search.png) no-repeat center center;
    }
    &:after {
      display: none !important;
    }
  }
}

// ====== input ======
.wj-content {
  opacity: 1 !important;

  &.wj-control {
    border: 1px solid $gray120;

    &:hover,
    &:active,
    &:focus {
      border: 1px solid $gray260;
    }

    &.is-outline {
      border-color: $gray260;
    }

    &.wj-inputmask {
      width: 100% !important;
      .wj-input {
        border-radius: 4px;
        height: 32px;

        .wj-input-group {
          .wj-form-control {
            padding: 0 10px;
            font-size: pxToRem(14);
            color: $is-black;

            &::placeholder {
              color: $gray180;
            }
          }
          .wj-input-group-btn {
            .wj-btn {
              height: 28px !important;
              min-height: 28px !important;

              &.wj-btn-default {
                &:hover {
                  background: #fff;
                }
              }
              .wj-glyph-down {
                top: -1px;
                border-top: 7px solid;
                border-right: 6px solid transparent;
                border-left: 6px solid transparent;
              }
            }
          }
        }
      }
    }

    &.is-large {
      .wj-input {
        height: 40px;
      }
    }

    &.is-login {
      .wj-input {
        height: 52px;
        border-color: $gray80;

        .wj-input-group {
          .wj-form-control {
            padding: 0 40px 0 15px;
            font-weight: 400;
            font-size: pxToRem(15);
            line-height: 20px;

            &::placeholder {
              font-size: pxToRem(16);
            }
          }
        }
      }
    }

    &.wj-state-readonly,
    &.wj-state-disabled {
      border-color: $gray80;
      background-color: $gray60;
    }
    &.wj-state-disabled {
      .wj-input-group {
        .wj-form-control {
          color: $gray180;
        }
      }
    }
    &.wj-listbox {
      .wj-listbox-item {
        &.wj-state-selected {
          background: $vPrimary3;
        }
      }
    }
    &.wj-multiselect {
      &.wj-state-readonly {
        .wj-input {
          .wj-input-group {
            .wj-form-control {
              background: none;
            }
            .wj-input-group-btn {
              background: none;
              .wj-btn {
                opacity: 1;
              }
            }
          }
        }
      }
    }
    &.wj-multiselectlistbox {
      .wj-control {
        &:hover,
        &:active,
        &:focus {
          border: 0;
        }
        border: 0;
      }
    }
    &.wj-multi-autocomplete {
      &.wj-state-readonly {
        .wj-input {
          .wj-input-group {
            .wj-form-control {
              background: none;
            }
          }
        }
      }
    }
  }
}

// ===== input button icon =====
.ipt {
  &.err {
    position: relative;
    .wj-control {
      &.wj-inputmask {
        border: 1px solid $point1;
        .wj-input {
          .wj-input-group {
            .wj-form-control {
              color: $point1;
              padding-right: 40px;
            }
          }
        }
      }

      &.wj-combobox:after {
        content: '';
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        background: url(/assets/images/svg/ico_error.svg) no-repeat center center;
      }
      &.wj-inputmask:after {
        content: '';
        position: absolute;
        right: 5px;
        width: 24px;
        height: 24px;
        background: url(/assets/images/svg/ico_error.svg) no-repeat center center;
      }
    }
    .textarea_wrap {
      textarea {
        border: 1px solid $pointColorRed;
      }
      &:after {
        content: '';
        position: absolute;
        bottom: 8px;
        right: 8px;
        width: 15px;
        height: 15px;
        background: url(@ustra/nuxt-wijmo/src/management/layouts/assets/img/icon_desc_error.png) no-repeat center center / 14px 14px;
      }
    }
  }

  // hover
  &:hover,
  &:active,
  &:focus {
    &.ipt_btn {
      .btn_find {
        background: url(/assets/images/svg/ico_search_hover.svg) no-repeat center center;
      }
    }
  }

  // outline
  .wj-control {
    &.is-outline {
      + button {
        &.btn_find {
          background: url(/assets/images/svg/ico_search_hover.svg) no-repeat center center;
        }
      }
    }

    // icon is-error
    &.is-error {
      border: 1px solid $point1;
    }
  }

  // default
  &.ipt_btn {
    position: relative;
    width: 100%;

    .wj-control {
      &.wj-inputmask {
        .wj-input {
          .wj-input-group {
            .wj-form-control {
              padding-right: 40px;
            }
          }
        }
      }

      &.wj-combobox {
        &:after {
          display: none;
        }
      }
      &.wj-inputmask {
        &:after {
          display: none;
        }
      }
    }

    button[class^='btn_'] {
      position: absolute;
      right: 0;
      // top: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      right: 5px;

      &:hover,
      &:active,
      &:focus {
        opacity: 1;
      }
      &.btn-2 {
        right: 30px;
      }
    }

    .btn_find {
      background: url(/assets/images/svg/ico_search_enable.svg) no-repeat center center;
    }
    .btn_refresh {
      background: url(@ustra/nuxt-wijmo/src/management/layouts/assets/img/icon_btn_refresh.png) no-repeat center center;
    }
    .btn_mdi {
      background: none;
    }
    .wj-state-disabled {
      + button {
        cursor: default;
        &.btn_find {
          background: url(/assets/images/svg/ico_search_disable.svg) no-repeat center center;
        }
      }
    }
    .wj-state-readonly {
      + button {
        cursor: default;
        &.btn_find {
          background: url(/assets/images/svg/ico_search_disable.svg) no-repeat center center;
        }
      }
    }
  }
}

// ====== textarea ======
.u-text-box {
  .v-field__overlay {
    background-color: unset !important;
    opacity: unset !important;
    transition: unset !important;
  }

  .v-textarea {
    .v-input__control {
      .v-field {
        .v-field__field {
          label {
            + .wj-textarea {
              margin-left: 0;
            }
          }
          .wj-textarea {
            font-size: 14px;
            line-height: 20px;
            color: $is-black;
            padding: 10px;
            border: 1px solid $gray120;

            &:hover,
            &:active,
            &:focus {
              border: 1px solid $gray260;
            }
          }
        }
      }
    }

    &.v-input--disabled {
      .v-input__control {
        .v-field {
          opacity: unset !important;
          .v-field__field {
            .wj-textarea {
              border-color: $gray80;
              background-color: $gray60;
              color: $gray180;
            }
          }
        }
      }
    }

    &.v-input--readonly {
      .v-input__control {
        .v-field {
          opacity: unset !important;
          .v-field__field {
            .wj-textarea {
              border-color: $gray80;
              background-color: $gray60;
              color: $is-black;
            }
          }
        }
      }
    }
  }

  &.is-outline {
    .v-textarea {
      .v-input__control {
        .v-field {
          .v-field__field {
            .wj-textarea {
              border-color: $gray260;
            }
          }
        }
      }
    }
  }

  &.is-error {
    .v-textarea {
      .v-input__control {
        .v-field {
          .v-field__field {
            position: relative;
            .wj-textarea {
              border-color: $point1;
              color: $point1;
            }

            &:after {
              content: '';
              position: absolute;
              right: 5px;
              bottom: 5px;
              width: 24px;
              height: 24px;
              background: url(/assets/images/svg/ico_error.svg) no-repeat center center;
            }
          }
        }
      }
    }
  }
}

// ====== 달력 ======
.u-date-box,
.u-date-period-box,
.wj-cell {
  width: 100%;
  .wj-template {
    .wj-input {
      .wj-input-group {
        .wj-form-control {
          padding: 0 10px;
          height: 32px;
          color: $is-black;
        }

        .wj-input-group-btn {
          .wj-btn {
            position: relative;
            background-color: $is-white;
            height: 100% !important;
            min-height: 100% !important;
            border-left: 0 !important;

            .wj-glyph-calendar {
              width: unset;
              height: unset;
              border: unset;
              top: unset;

              &:after {
                border: 0;
              }
            }

            &:after {
              width: 18px;
              height: 18px;
              content: '';
              position: absolute;
              right: 8px;
              background: url(/assets/images/svg/ico_calender.svg) no-repeat center center;
              top: 50%;
              transform: translateY(-50%);
            }

            &:hover,
            &:active,
            &:focus {
              background-color: unset;
            }
          }
        }
      }
    }
  }
}

.wj-calendar {
  .wj-calendar-outer {
    border-top: 1px solid $is-primary;
    border-bottom: 0;
    padding: 0 0 58px !important;

    .wj-calendar-header {
      align-items: center;
      justify-content: center;
      height: 40px;

      .wj-month-select {
        margin: 0;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        color: $is-primary;
      }

      button {
        &:hover {
          background: none !important;
        }
      }
      button[wj-part='btn-prev'] {
        position: absolute;
        top: 9px;
        left: 0;
        width: 28px;
        height: 28px;
        padding: 0;
        .wj-glyph-left {
          top: 0;
          left: 0;
          display: inline-block;
          width: 28px;
          height: 28px;
          border: none;
          background: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_3931)'%3E%3Cpath d='M16.0005 18L11.7935 13.793L16.0005 9.58601' stroke='%23808080'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_3931'%3E%3Crect width='28' height='28' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A")
            no-repeat center;
        }
      }

      button[wj-part='btn-next'] {
        position: absolute;
        top: 9px;
        right: 0;
        width: 28px;
        height: 28px;
        padding: 0;
        border: none;
        .wj-glyph-right {
          top: 0;
          right: 0;
          display: inline-block;
          width: 28px;
          height: 28px;
          border: none;
          background: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_3932)'%3E%3Cpath d='M11.793 9.58594L15.9999 13.7929L11.793 17.9999' stroke='%23808080'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_3932'%3E%3Crect width='28' height='28' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A")
            no-repeat center;
        }
      }

      button[wj-part='btn-today'] {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 58px;
        border-top: 1px solid $gray80;
        border-left: 0;

        &:hover {
          background: none;
          .wj-glyph-circle {
            border: 1px solid $is-primary;
          }
        }

        .wj-glyph-circle {
          border: none;
          width: calc(100% - 30px);
          height: 30px;
          color: $is-primary;
          line-height: 28px;
          border: 1px solid $gray100;
          border-radius: 4px;

          &::before {
            content: '오늘';
            color: $is-primary;
          }
        }
      }
    }
    .wj-calendar-year {
      .wj-header {
        color: $is-primary;
        font-weight: 600;
        font-size: 14px;
        background: none;
      }
      > tr {
        td {
          &:hover {
            background: $gray60 !important;
          }
        }
      }
    }
    .wj-calendar-month {
      > tr {
        &.wj-header {
          background: none;
        }
        > td {
          width: 40px;
          height: 40px;
          padding: 0 !important;
          color: $is-primary;
          font-size: 14px;
          font-weight: 500;
          &:first-child {
            color: $point1 !important;
          }
          &:hover {
            background: $gray60 !important;
          }
        }
      }
    }
    .wj-state-selected,
    .wj-state-last-selected {
      color: $is-white !important;
      border-radius: 3px;
      background: $is-primary;
    }
  }
}

// header
.nav-btn {
  .v-btn__overlay {
    display: none;
  }
}
.nav-tooltip {
  > .v-overlay__content {
    top: 44px !important;
    min-width: 60px !important;
    padding: 4px !important;
    color: $is-primary !important;
    text-align: center;
    font-size: 12px !important;
    font-weight: 400;
    line-height: 16rem;
    border: 1px solid $gray260;
    border-radius: 5px;
    background-color: $is-white !important;
  }
}
.search-emp {
  .wj-control {
    &.wj-content {
      border-radius: 0;
      border-width: 0 0 1px;

      .wj-input {
        .wj-input-group {
          .wj-form-control {
            padding: 0 6px;
            border-width: 0 0 1px 0;
            box-sizing: border-box;
            font-weight: 400;
            font-size: 13px !important;
            line-height: 18px;
          }
        }
      }
    }
  }
}

.navbar-left {
  .v-sheet {
    height: 100%;
    position: relative;
    padding: 0 20px;
    background: transparent;

    .v-slide-group__prev,
    .v-slide-group__next {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1000;
      justify-content: flex-start;
      // width: 100px;
      height: 55px;
      // background: linear-gradient(to right, white, 80%, transparent);
    }
    .v-slide-group__next {
      left: inherit;
      right: 0;
      justify-content: flex-end;
      // background: linear-gradient(to left, white, 80%, transparent);
    }
    .v-slide-group__next--disabled,
    .v-slide-group__prev--disabled {
      opacity: 1;
    }
    .mdi-chevron-left {
      margin-top: 5px;
      &:before {
        content: '';
        display: inline-block;
        width: 24px;
        height: 24px;
        background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 15L7 9.5L12 4' stroke='%23808080' stroke-width='1.7' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
          no-repeat left center;
      }
    }
    .mdi-chevron-right {
      margin-top: 5px;
      &:before {
        content: '';
        display: inline-block;
        width: 24px;
        height: 24px;
        background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 15L13 9.5L8 4' stroke='%23808080' stroke-width='1.7' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
          no-repeat right center;
      }
    }
  }
  .v-slide-group__container {
    position: relative;
    margin: 0 15px;
    height: 67px !important;
    // &:before,
    // &:after {
    //   content: '';
    //   position: absolute;
    //   z-index: 100;
    //   display: block;
    //   height: 55px;
    //   // border: 1px solid red;
    // }
    // &:before {
    //   left: 0;
    //   width: 50px;
    //   background: linear-gradient(to right, white, 80%, transparent)
    // }
    // &:after {
    //   right: 0;
    //   width: 150px;
    //   background: linear-gradient(to left, white, transparent)
    // }
  }
  .v-btn {
    padding: 0 !important;
    // overflow-y: visible;
    border-radius: 0;
    .v-btn {
      padding: 0 24px !important;
      // overflow-y: visible;
    }
  }
  .v-btn__overlay,
  .v-btn__underlay {
    display: none;
  }
  .v-col {
    padding: 0 !important;
  }
}

// table form
.table {
  .u-text-box,
  .u-date-period-box {
    width: calc(100% - 50px) !important;
  }

  .wj-content {
    &.wj-dropdown {
      width: calc(100% - 50px) !important;
    }
  }

  .u-box {
    flex-direction: inherit !important;
    width: calc(100% - 50px);

    > [class^='u-'] {
      width: auto !important;

      &:not(:first-child) {
        margin-left: 5px;
      }
    }
  }
}

// form
.v-field__outline {
  display: none !important;
}

/*
.u-box {
  .wj-control {
    &:not(:first-child) {
      margin-left: 5px;
    }
  }
}
*/

.u-field-slot {
  gap: 5px !important;

  .wj-control {
    width: 100%;
  }
}

// mdi
.mdi {
  border-top: 0px;

  .v-tab {
    &.is-active {
      background-color: $is-primary;
      .button-mdi {
        background-color: transparent;
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2680_1690)'%3E%3Cpath d='M1.04883 8.95319L8.95319 1.04883' stroke='white' stroke-width='1.5' stroke-linecap='round'/%3E%3Cpath d='M8.95319 8.95319L1.04883 1.04883' stroke='white' stroke-width='1.5' stroke-linecap='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2680_1690'%3E%3Crect width='10' height='10' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      }
    }
    .v-btn__overlay {
      display: none !important;
    }
  }

  .button-mdi {
    width: 10px;
    height: 10px;
    margin-left: 10px;
    padding: 0;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2680_1650)'%3E%3Cpath d='M1.04883 8.95319L8.95319 1.04883' stroke='%23DBDBDB' stroke-width='1.5' stroke-linecap='round'/%3E%3Cpath d='M8.95319 8.95319L1.04883 1.04883' stroke='%23DBDBDB' stroke-width='1.5' stroke-linecap='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2680_1650'%3E%3Crect width='10' height='10' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");

    &:hover {
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2680_787)'%3E%3Cpath d='M1.04883 8.95319L8.95319 1.04883' stroke='%23151515' stroke-width='1.5' stroke-linecap='round'/%3E%3Cpath d='M8.95319 8.95319L1.04883 1.04883' stroke='%23151515' stroke-width='1.5' stroke-linecap='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2680_787'%3E%3Crect width='10' height='10' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
  }

  .v-tab__slider {
    height: 0px;
  }

  .mdi-menu {
    font-weight: 600 !important;
  }
}

// ==== 콤보박스 =====
.wj-dropdown {
  &.wj-combobox {
    width: 100% !important;

    .wj-input {
      height: 30px;

      .wj-form-control {
        font-size: pxToRem(14);
        color: $is-black;
        padding-left: 10px;
      }

      .wj-input-group-btn {
        .wj-btn {
          position: relative;
          background-color: $is-white;
          height: 100% !important;
          min-height: 100% !important;
          border-left: 0 !important;

          .wj-glyph-down {
            border-top: unset;
            border-right: unset;
            border-left: unset;
          }

          &:after {
            width: 18px;
            height: 18px;
            content: '';
            position: absolute;
            right: 8px;
            background: url(/assets/images/svg/ico_combo_arr_open.svg) no-repeat center center;
            top: 50%;
            transform: translateY(-50%);
          }

          &:hover,
          &:active,
          &:focus {
            background-color: unset;
          }
        }
      }
    }

    &.wj-state-collapsed {
      .wj-input {
        .wj-input-group-btn {
          .wj-btn {
            &:after {
              background: url(/assets/images/svg/ico_combo_arr_enable.svg) no-repeat center center;
            }

            &:hover,
            &:active,
            &:focus {
              &:after {
                background: url(/assets/images/svg/ico_combo_arr_hover.svg) no-repeat center center;
              }
            }
          }
        }

        &:hover,
        &:active,
        &:focus {
          .wj-btn {
            &:after {
              background: url(/assets/images/svg/ico_combo_arr_hover.svg) no-repeat center center;
            }
          }
        }
      }
    }

    &:not(.wj-state-collapsed) {
      border-color: $gray260;
    }

    &.wj-state-disabled {
      // border-color: $gray80;
      // background: $gray80;

      border-color: $gray80;
      background: $gray60;

      .wj-input-group-btn {
        .wj-btn {
          background-color: $gray60;
          &:after {
            background: url(/assets/images/svg/ico_combo_arr_disable.svg) no-repeat center center;
          }
        }
      }
    }
  }

  & + .u-button {
    margin-left: 10px;
  }
}

// ==== 콤보박스 리스트 =====
.wj-content {
  &.wj-dropdown-panel {
    padding: 0;
    top: 109px;
    border-top: 0;
    border-color: $gray260 !important;
    border-radius: 4px !important;
    box-shadow: unset;

    .wj-listbox-item {
      padding: 6px 10px;
      font-size: pxToRem(14);
      color: $is-black;

      &.wj-state-selected {
        background: $blue_gray200 !important;
      }

      &:hover {
        background: $blue_gray200 !important;
        transition-duration: unset !important;
      }
    }
  }
}

// tree
.wj-content {
  &.wj-treeview {
    border: none;

    &:hover {
      border: none;
    }
    .wj-node {
      padding: 8px 0;
      color: $gray260;

      &:before {
        width: 36px;
        height: 20px;
        margin: 0 8px 0 0;
        border: none;
        background-image: url("data:image/svg+xml,%3Csvg width='36' height='20' viewBox='0 0 36 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.5 10L3.5 15L3.5 5L8.5 10Z' fill='%23666666'/%3E%3Cpath d='M25.6046 4.45613L24.012 3.02788C23.6355 2.68966 23.1248 2.5 22.5921 2.5H18.3661C17.6115 2.5 17 3.0488 17 3.72596V7.98077H24.0618H35V6.04087C35 5.3637 34.3885 4.8149 33.6339 4.8149H26.5705C26.2081 4.8149 25.861 4.68582 25.6046 4.45613Z' fill='%23151515'/%3E%3Cpath d='M33.6339 17.5001H18.3661C17.6115 17.5001 17 16.9546 17 16.2815V7.75716C17 7.08407 17.6115 6.53857 18.3661 6.53857H33.6339C34.3885 6.53857 35 7.08407 35 7.75716V16.2815C35 16.9546 34.3885 17.5001 33.6339 17.5001Z' fill='%23CCCCCC'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: left center;
        transform: rotate(0) !important;
        opacity: 1;
        vertical-align: middle;
      }
      &.wj-state-selected {
        color: $is-black;
        background: none;
        &:before {
          background-image: url("data:image/svg+xml,%3Csvg width='36' height='20' viewBox='0 0 36 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12.5L1 7.5L11 7.5L6 12.5Z' fill='%23151515'/%3E%3Cpath d='M26.5373 4.99897H31.7882C32.5268 4.99897 33.0741 5.53079 33.0741 6.24846V6.8732L24.7156 13.433L17.3918 16.3883C17.1421 16.0134 17 15.4777 17 14.9949V3.79968C17 3.08201 17.599 2.5 18.3375 2.5H22.6294C23.1493 2.5 23.648 2.69998 24.0167 3.05628L25.5937 4.61636C25.8444 4.85844 26.1838 4.99897 26.5373 4.99897Z' fill='%23151515'/%3E%3Cpath d='M33.66 6.87305H22.7135C22.226 6.87314 21.7505 7.01959 21.3519 7.29234C20.9533 7.56509 20.6513 7.95081 20.4869 8.39677C17.5351 16.6215 17.7788 16.0305 17.7042 16.1229C17.6726 16.1703 17.6295 16.2093 17.5787 16.2366C17.5279 16.2638 17.471 16.2784 17.4129 16.2791C17.3715 16.2786 17.3309 16.267 17.2959 16.2454C17.5156 16.6472 17.8499 16.9787 18.2588 17.2004C18.6677 17.422 19.1337 17.5243 19.6009 17.4949H31.1434C31.424 17.4936 31.6967 17.4047 31.9212 17.2412C32.1457 17.0777 32.3101 16.8484 32.3902 16.5872L34.9376 8.56859C35.0011 8.37346 35.0164 8.16648 34.9823 7.96452C34.9482 7.76255 34.8656 7.57126 34.7411 7.40612C34.6167 7.24098 34.454 7.10668 34.2662 7.01406C34.0783 6.92143 33.8706 6.87313 33.66 6.87305Z' fill='%23CCCCCC'/%3E%3C/svg%3E%0A");
        }
      }
      &.wj-state-empty {
        color: $gray260;
        &:before {
          width: 20px;
          background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 2.29378C5 1.85539 5.38376 1.5 5.85714 1.5H17.1429C17.6162 1.5 18 1.85538 18 2.29377V14.5769L13.7724 18.4042C13.7047 18.4656 13.6129 18.5 13.5171 18.5H6.07143C5.35714 18.5 5 18.0785 5 17.6401V2.29378Z' fill='%23DBDBDB'/%3E%3Cpath d='M13.667 18.5002L18.0003 14.5771H14.5337C14.055 14.5771 13.667 14.9284 13.667 15.3618L13.667 18.5002Z' fill='%23666666'/%3E%3C/svg%3E%0A");
          visibility: visible;
        }
        &.wj-state-selected {
          color: $is-primary;
          font-weight: 600;
        }
      }
    }
  }
}

// validation
.ustra-validation-group {
  .ustra-invalidate {
    border: 1px solid $point1;
    box-shadow: none !important;
    &.wj-control {
      .wj-input-group {
        &:not(.wj-input-btn-visible) {
          background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_2715)'%3E%3Cpath d='M12 18.5C15.5899 18.5 18.5 15.5899 18.5 12C18.5 8.41015 15.5899 5.5 12 5.5C8.41015 5.5 5.5 8.41015 5.5 12C5.5 15.5899 8.41015 18.5 12 18.5Z' fill='%23D40000'/%3E%3Cpath d='M12 9V13' stroke='white' stroke-width='1.5'/%3E%3Cpath d='M12 14V15.5' stroke='white' stroke-width='1.5'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_2715'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A")
            no-repeat right 4px center;
        }
        .wj-form-control {
          border: none !important;
          box-shadow: none !important;
        }
      }
    }
  }
}

// file upload
.file-desc {
  &:not(:only-child) {
    display: inline-block;
    margin-left: 10px;
    padding-left: 20px;
    color: #000 !important;
    background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.99978 14.1109C11.3749 14.1109 14.1109 11.3749 14.1109 7.99978C14.1109 4.62471 11.3749 1.88867 7.99978 1.88867C4.62471 1.88867 1.88867 4.62471 1.88867 7.99978C1.88867 11.3749 4.62471 14.1109 7.99978 14.1109Z' fill='%239A9A9A'/%3E%3Cpath d='M8 4.80518V9.24962' stroke='white'/%3E%3Cpath d='M8 10.0576V11.1687' stroke='white'/%3E%3C/svg%3E%0A") no-repeat left center;
  }
}